[Desktop Entry]
Type=Application
Exec=/usr/bin/velox-live-start
Hidden=false
NoDisplay=false
X-KDE-StartupNotify=false
Name=Calamares Autostart
Comment=Autostart Calamares Installer with root privileges
