[Desktop Entry]
Exec=sh -c 'exec env -u QT_STYLE_OVERRIDE systemsettings'
Icon=preferences-system
Name=System Settings
Terminal=false
Type=Application
