[Desktop Entry]
Type=Application
Exec=pkexec /usr/bin/calamares-launcher
Hidden=false
NoDisplay=false
X-KDE-StartupNotify=false
Name=Calamares Autostart
Comment=Autostart Calamares Installer with root privileges
