polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        (action.lookup("program") == "/usr/bin/calamares" ||
         action.lookup("program") == "/usr/bin/calamares-launcher") &&
        subject.user == "liveuser") {
        return polkit.Result.YES;
    }
});
