[Desktop Entry]
Version=1.0
Type=Application
Name=Install Velox Linux
GenericName=Installer
Comment=Install Velox Linux to your system
Exec=kdesu calamares
Icon=velox
Terminal=false
StartupNotify=true
Categories=System;
Keywords=install;system;
